rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isSuper() { return signedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.rol == 'superadmin'; }

    match /{document=**} {
      allow read: if signedIn();
      allow create: if signedIn();
      allow update, delete: if isSuper();
    }
  }
}
